@charset "utf-8";

$bg-color: #fafcff !default;

/* Font basics */
$font-color: #141414 !default;
$font-family: monospace !default;

/* Font sizing */
$font-size: 16px !default;
$font-size-base: 1em !default;
$font-size-scale: 2.2 !default;

/* Font scaling */
$font-size-xs: $font-size-base / $font-size-scale / $font-size-scale !default;
$font-size-sm: $font-size-xs * $font-size-scale !default;
$font-size-md: $font-size-sm * $font-size-scale !default;
$font-size-lg: $font-size-md * $font-size-scale !default;
$font-size-xl: $font-size-lg * $font-size-scale !default;

/* Layout */
$content-padding: 18px !default;

@import "fluffy/layout",
        "fluffy/reset",
        "fluffy/typography";
