@charset "utf-8";

html, body {
  background: white;
  height: 100%;
}

body {
  padding: 20px 15px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 35px;

  max-width: 720px;
}

header, footer, main {
  display: flex;
  flex-direction: column;
}

header {
  padding-top: 108px;
}

main {
  flex: auto;
  padding-top: 58px;
}

footer {
  height: 55px;
  padding-top: 28px;

  ul.social-icons {
    margin: 0 auto;

    li {
      width: 18px;
      height: 18px;
      float: left;
      padding: 9px;
    }
  }
}
