@charset "utf-8";

html, body {
  background: $bg-color;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

section {
  max-width: 389px;
}

header, footer, main {
  flex: 1 0 auto;

  @media screen and (max-width: 768px) {
    padding: $content-padding-mobile;
  }

  @media screen and (min-width: 769px) and (max-width: 1024px) {
    padding: $content-padding-tablet;
  }

  @media screen and (min-width: 1025px) {
    padding: $content-padding-desktop;
  }
}

header {
  display: flex;
  flex-direction: column-reverse;
}
