@charset "utf-8";

html, body {
  background: $bg-color;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

section {
  width: 389px;
}

header, footer, main {
  padding: $content-padding;
  flex: 1 0 auto;
}

header {
  display: flex;
  flex-direction: column-reverse;
}
