@charset "utf-8";

html, body {
  color: $font-color;
  font-size: $font-size;
  font-family: $font-family;
}

p {
  line-height: 26px;
  font-weight: 300;

  + p {
    padding-top: 26px;
  }
}

h1 {
  font-size: $font-size-xl;
  font-weight: 300;
  position: relative;

  &:before {
    content: url(/assets/svg/shapes.svg);
    position: absolute;
    left: -145px;
    top: -60px;
  }
}

h2 {
  font-size: $font-size-lg;
  font-weight: 300;
}

h3 {
  font-size: $font-size-md;
  font-weight: 300;
}

h4 {
  font-size: $font-size-sm;
  font-weight: 300;
}

h5 {
  font-size: $font-size-xs;
  font-weight: 300;
}
